/* Color Pallet ----------------------------- */

:root{
    --ctl-blue: #18316b;
    --ctl-darkbackground:#282828;
    --ctl-bluebackground:#0c0032;
}

/* General Styles ----------------------------- */
html {
    scroll-behavior: smooth;
}


h1,
h2,
h3,
h4,
h5{
    font-family: 'Oswald', sans-serif;
}

p{
    font-family: 'Arimo', sans-serif;
    font-weight: 300;
}

a,
button{
    font-family: 'Arimo', sans-serif;
    font-weight: 500;
}

h2 {
    font-size: 3rem;
}

.btn-primary{
    background-color: var(--ctl-blue);
    border-color: var(--ctl-blue);
}

/* Nav Bar ----------------------------- */

.navbar{
    background-color: var(--ctl-darkbackground);
}


.nav-link{
    font-size: 1.3rem;
    letter-spacing: .5px;
}

.ctl-button{
    font-size: 1.3rem;
    color: white;
    position: relative;
}

/* Carousel Section ----------------------------- */

.carousel-item {
    height: 85vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-content::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 85vh;
    background-color: black;
    opacity: 0.5;
}

.carousel-content {
    width: 100%;
    height: 85vh;
    position: absolute;
    z-index: 1;
    padding-top: 20vh;
    top: 0;
}

.carousel-content h1{
    font-weight: 700;
    font-size: 4.5rem;
    color: white;
}
.carousel-control-prev, .carousel-control-next{
    z-index: 2;
}


/* Nuestros Servicios ----------------------------- */

.ns-container{
    background-color: white;
    padding-top: 90px;
    color: black;
}

.ser-image{
    width: 100%;
}

/* Nosotros ----------------------------- */

.about-container{
    background-color: var(--ctl-darkbackground);
    color: white;
    padding-top: 90px;
}

.about-image{
    width: 100%;
}

/* Ubicaciones ----------------------------- */

.ub-container{
    background-color: white;
    height: 850px;
    margin: 0;
    padding: 0;
}

iframe{
    margin: 0;
    padding: 0;
}

.card{
    position: relative;
    z-index: 7;
    padding: 0;
    bottom: 800px;
    left: 70%;

}

.card-body h5{
    font-size: 1rem;
}

.card-body p{
    font-size: 0.8rem;
}

/* Footer ----------------------------- */

footer{
    background-color: var(--ctl-darkbackground);
    color: white;
}

.flag{
    position: fixed;
    z-index: 100;
    width: 40px;
    height: 40px;
    bottom: 5px;
    right: 5px;
}

@media only screen and (max-width: 1000px){
    .navbar-brand{
        max-width: 250px;
    }

    .carousel-content{
        padding-top: 10vh;
    }
    
    .carousel-content h1{
        font-size: 3rem;
    }

    .buttons-container{
       padding-bottom: 10vh;
    }

    .ser-image{
        width: 60%;
        height: 50px;
        left: 25%;
    }

    .ub-container{
        height: inherit;
    }

    .map-background{
        display: none;
    }

    .card{
        left: 0;
        bottom: 0;
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    z-index: 10;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    overflow: auto;
    height: calc(100vh - 80px);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  .contact-form{
      top: 20px;
      width: 100%;
      height: calc(90vh - 10px);
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header .close{
      margin: 0;
      
  }
  .modal-header {
    padding: 2px 16px;
    background-color: #18316b;
    color: white;
  }
  
 